@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;

    --primary: #484A0B;
    --primary-foreground: 60 9.1% 97.8%;

    --secondary: #FFB908;
    --secondary-foreground: 24 9.8% 10%;

    --tertiary:#04A777;

    --quarnary:#971414;


    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;

    --accent: 60 4.8% 95.9% / 50%;
    --accent-foreground: 24 9.8% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;

    --radius: 0.5rem;
    --desktop-nav-height: 3rem;
    --mobile-nav-height: 4rem;
      color-scheme: light only;
  }

  
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for IE, Edge and Firefox */

@layer base {
  body {
    @apply bg-background text-foreground font-sans;
  }
  html{
    @apply text-[14px] sm:text-[15px] md:text-[16px] lg:text-[18px] xl:text-[20px] 2xl:text-[22px];  
  }

}

h1{
  @apply font-bold text-5xl;
}
h2{
  @apply font-semibold text-2xl text-tertiary;
}

h3{
  @apply font-semibold text-xl;
}

.btn{
  @apply uppercase whitespace-nowrap p-4 text-white hover:brightness-110 transition-all duration-300 font-semibold; 
}
.input {
  @apply dark:focus:border-slate-300 focus:bg-slate-300 focus:border-slate-400  outline-none border border-slate-300 w-full placeholder:font-light dark:placeholder:text-slate-400 placeholder:text-slate-400 px-4 py-2 bg-transparent rounded;
}
.toast-global{
  @apply dark:!bg-black rounded-md !p-5;
}
.toast-success{
  @apply border-l-8 border-green-300;
}
.toast-error{
  @apply border-l-8 border-red-400;
}


 @layer utilities {
   
   .fade-in{
     scale: 1 1;
     animation: fade-in;
     animation-timeline: view();
     animation-range: 0% 50%;
    }
    @keyframes fade-in {
      from { opacity: 0 }
      to { opacity: 1 }
    }
   .fade-out{
     scale: 1 1;
     animation: fade-out;
     animation-timeline: view();
     animation-range: exit 20%;
    }
    @keyframes fade-out {
      from { opacity: 1 }
      to { opacity: 0 }
    }
   .slide-in-x{
     scale: 1 1;
     animation: slide-in-x forwards;
     animation-timeline: view();
     animation-range: 0% 100%;
    }
    @keyframes slide-in-x {
      from { transform: translateX(-50%) }
      to { transform: translateX(0%) }
    }
   .slide-in-y{
     scale: 1 1;
     animation: slide-in-y forwards;
     animation-timeline: view();
     animation-range: 0% 100%;
    }
    @keyframes slide-in-y {
      from { transform: translateY(50%) }
      to { transform: translateY(0%) }
    }
   .shrink-up1{
     scale: 1 1;
     animation: shrink-up1 forwards;
     animation-timeline: scroll();
     animation-range: exit 200px;
    }
    @keyframes shrink-up1 {
      from { transform: scaleX(1)
     }
      to { transform: scaleX(0.7);
       }
    }
   .shrink-up2{
     scale: 1 1;
     translate: 0 15px;
     animation: shrink-up2 forwards;
     animation-timeline: scroll();
     animation-range: exit 200px;
    }
    @keyframes shrink-up2 {
      from { transform: scaleX(1)
     }
      to { transform: scaleX(0.8);
       }
    }
   .shrink-up3{
     scale: 1 1;
     translate: 0 30px;
     animation: shrink-up3 forwards;
     animation-timeline: scroll();
     animation-range: exit 200px;
    }
    @keyframes shrink-up3 {
      from { transform: scaleX(1)}
      
      to { transform: scaleX(0.9);
       }
    }

  }


.spacer {
aspect-ratio: 960/200;
width: 100%;
background-repeat: no-repeat;
background-position: top;
background-size: cover;
box-sizing: border-box;

}
.kakiYellow {
background-image: url('/kakiYellow.svg');
}

.layer3{
  background-image: url('/greenKaki.svg');
  
}
.layer4{
  background-image: url('/yellowGreen.svg');
}
.greenRed{
  background-image: url('/greenRed.svg');
}
.redYellow{
  background-image: url('/redYellow.svg');
}
.yellowRed{
  background-image: url('/yellowRed.svg');
}